                                                                           /* OVERALL RULES  START  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
                                                                            /* OVERALL RULES END  */


                                                                            /* HEADER CONTENT  */
header {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-size: 40%;
}

header img {
    height: 100px;
    width: 200px;
    padding-left: 10px;
    margin-top: 20px;
}
                                                                            /* HEADER CONTENT END  */

                                                                            /* MAIN CONTENT START  */

/******** article first part css starts   *******/

main {
    padding: 10px;
}

article h1 {
    font-size: 3.6rem;
    font-weight: bolder;
}

.text-sm {
    font-size: 1.4rem;
    font-weight: bold;
    color: #868686;
}

.text-sm a {
    text-decoration: none;
    color: #29ace5
}

.img-ctn img {
    width: 450px;
    height: 362px;
    margin-top: 16px;
}
/******** /article first part css ends    *******/
/******** article second part css starts    *******/
article  {
    font-size: 1.6rem;
}

article p {
    margin: 16px 0 20px 0;
}

article li {
    font-size: 1.6rem;
}

article ul {
    margin-bottom: 20px;
}

span {
    background-color: greenyellow;
}

table {
    text-align: left;
}

table th {
    width: 5%;
}

.table-header {
    background-color: #29ace5;
    color: white;
}

.even {
    background-color: lightblue;
}
.uneven {
    background-color: antiquewhite;
}

/******** /article second part css ends    *******/
/******** footer css starts   *******/
footer {
    padding: 10px;
    font-size: 1.6rem;
}
footer h3 {
    color: #868686;
    margin-bottom: 10px;
}

footer div {
    padding: 10px;
    color: white;
}

#img-pc {
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    height: 200px;
    width: 250px;
    margin-bottom: 10px;
}

#img-graph {
    background-image: url(../img/graph.jpg);
    background-size: contain;
    height: 200px;
    width: 250px;
}
/******** footer css ends  *******/


