                                                                           /* OVERALL RULES  START  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
                                                                            /* OVERALL RULES END  */


                                                                            /* HEADER CONTENT  */
header {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-color: rgba(78,160,255,255);
    background-size: 40%;
}

header img {
    height: 100px;
    width: 200px;
    padding-left: 10px;
    margin-top: 20px;
}
                                                                            /* HEADER CONTENT END  */

                                                                            /* MAIN CONTENT START  */

/******** article first part css starts   *******/

main {
    padding: 10px;
}

article h1 {
    font-size: 3.6rem;
    font-weight: bolder;
}

.text-sm {
    font-size: 1.4rem;
    font-weight: bold;
    color: #868686;
}

.text-sm a {
    text-decoration: none;
    color: #29ace5
}

.img-ctn img {
    width: 450px;
    height: 362px;
    margin-top: 16px;
}

/******** /article first part css ends    *******/

